<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of movies">
      <div class="card">
        <!-- || ..\..\..\assets\images\default-movie.jpg -->
        <!-- <img src="{{item.Poster}}" class="card-img-top" alt="..." style="height: 480px !important; width: auto;">
        <div class="card-body">
          <h5 class="card-title">{{item.Title}}</h5>
          <a class="btn btn-primary" (click)="propose(item.imdbID)">Propose</a> -->
          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <!-- </div>
      </div>
    </div>
</div> --> -->